body {
  background-color: #000;
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  transform: rotate(90deg);
  transform-origin: bottom left;

  position: absolute;
  top: -100vw;

  height: 100vw;
  width: 100vh;

  background-color: #000;
  color: #fff;

  overflow: hidden;
}

.weather-clock {
  display: flex;
  flex-direction: row;
  flex: 9;
}

.ticker-container {
  flex: 1;
}

.weather-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ticker-quote {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: bold;
}

.center-ticker {
  display: flex;
  justify-content: center;
}

.icon-and-high-low {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.highs-and-lows {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  font-style: arial;
  justify-content: space-between;
}

.day-date {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: space-between;
  width: 7em;
}

.day-display {
}

.card {
}

.current-weather-card {
}

.current-weather-block {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-block {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.forcast-info {
  display: flex;
  flex-direction: column;
}

.temp-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp-title {
  font-size: 7em;
  font-weight: bold;
}

.date-clock-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  font-size: 5em;
  font-weight: bold;
}

.clock {
  font-size: 5em;
  font-weight: bold;
}

.high-temp,
.low-temp {
  margin: 0.15em 0;
}

.forcast-card {
  margin: 5em 0 0 2em;
}
