body {
  background-color: #000;
  height: 100%;
  width: 100%;
}

.weather-clock {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ticker-quote {
  display: flex;
  flex-direction: column;
}

.center-ticker {
  display: flex;
  justify-content: center;
}
